# Libraries

In [1]:
import os
import pandas as pd
import csv
from datetime import datetime
import glob

# Functions

In [2]:
# Open CSV delimiter ;
def open_csv(file_path):
    df = pd.read_csv(f"{file_path}", delimiter=';')
    return df

# Convert Excel to CSV
def convert_excel_to_csv(root_dir):
    for dirpath, dirnames, filenames in os.walk(root_dir):
        for filename in filenames:
            if filename.endswith('.xlsx'):
                file_path = os.path.join(dirpath, filename)
                try:                    
                    df = pd.read_excel(file_path)                    
                    
                    csv_filename = os.path.splitext(filename)[0] + '.csv'
                    csv_path = os.path.join(dirpath, csv_filename)                    
                    
                    df.to_csv(csv_path, index=False, sep=';')
                    
                    print(f"Converted {filename} to {csv_filename}")
                except Exception as e:
                    print(f"Error converting {filename}: {str(e)}")
                finally:
                    print("Conversion process completed.")

# Remove unnamed column from folder
def remove_unnamed_column_from_folder(input_folder_path, output_folder_path):
    os.makedirs(output_folder_path, exist_ok=True)
    
    csv_processed = False
    
    for item in os.listdir(input_folder_path):
        item_path = os.path.join(input_folder_path, item)
        
        if os.path.isfile(item_path) and item.endswith('.csv'):
            csv_processed = process_csv_file_unnamed(item_path, output_folder_path) or csv_processed
        elif os.path.isdir(item_path):

            sub_output_path = os.path.join(output_folder_path, item)
            sub_csv_processed = remove_unnamed_column_from_folder(item_path, sub_output_path)
            csv_processed = csv_processed or sub_csv_processed
    
    if not csv_processed:
        print(f"No CSV files found in {input_folder_path} or its subdirectories.")
    else:
        print(f"Processing completed for {input_folder_path}")
    
    return csv_processed

# Process CSV file unnamed
def process_csv_file_unnamed(input_file_path, output_folder_path):
    filename = os.path.basename(input_file_path)
    output_file_path = os.path.join(output_folder_path, filename)
    
    try:
        with open(input_file_path, 'r') as file:
            first_line = file.readline().strip()
            if not (first_line.startswith(';') or first_line.startswith('Unnamed: 0;')):
                print(f"Skipping '{filename}': Does not start with ';' or 'Unnamed: 0;'")
                return False

        df = pd.read_csv(input_file_path, delimiter=';')
        
        df_cleaned = df.iloc[:, 1:]
        
        df_cleaned.to_csv(output_file_path, index=False, sep=';')
        print(f"Successfully cleaned '{filename}' and saved to '{output_file_path}'")
        return True
    except Exception as e:
        print(f"An error occurred while processing '{filename}': {e}")
        return False
    
# Add date column to csvs
def add_date_column_to_csvs(folder_path):

    for date_folder in os.listdir(folder_path):
        full_path = os.path.join(folder_path, date_folder)
        if not os.path.isdir(full_path):
            continue

        try:
            folder_date = datetime.strptime(date_folder, "%d-%m-%y").date()
        except ValueError:
            print(f"Skipping folder {date_folder}: Invalid date format")
            continue

        for filename in os.listdir(full_path):
            if filename.endswith('.csv'):
                file_path = os.path.join(full_path, filename)
                process_csv_file_dates(file_path, folder_date)

    print("Process completed.")

# Process CSV file dates
def process_csv_file_dates(file_path, folder_date):
    try:
        df = pd.read_csv(file_path, delimiter=';')
        
        df['Date'] = folder_date
        
        df.to_csv(file_path, index=False, sep=';')
        print(f"Added date column to {file_path}")
    except Exception as e:
        print(f"Error processing {file_path}: {str(e)}")

# Union CSV files
def union_csv_files(base_path):

    all_files = glob.glob(os.path.join(base_path, "**", "*.csv"), recursive=True)
    
    df_list = []
    
    for file in all_files:
        try:
            df = pd.read_csv(file, delimiter=';')
            
            df['SourceFile'] = os.path.basename(file)
            df['SourceFolder'] = os.path.basename(os.path.dirname(file))
            
            df_list.append(df)
            print(f"Processed: {file}")
        except Exception as e:
            print(f"Error processing {file}: {e}")
    
    if df_list:
        combined_df = pd.concat(df_list, ignore_index=True)
        print(f"Total rows in combined DataFrame: {len(combined_df)}")
        return combined_df
    else:
        print("No CSV files were successfully processed.")
        return None

# January & March

In [65]:
def convert_excel_to_csv(root_dir):
    for dirpath, dirnames, filenames in os.walk(root_dir):
        for filename in filenames:
            if filename.endswith('.xlsx'):
                file_path = os.path.join(dirpath, filename)
                try:
                    
                    df = pd.read_excel(file_path)
                    
                    
                    csv_filename = os.path.splitext(filename)[0] + '.csv'
                    csv_path = os.path.join(dirpath, csv_filename)
                    
                    
                    df.to_csv(csv_path, index=False, sep=';')
                    
                    print(f"Converted {filename} to {csv_filename}")
                except Exception as e:
                    print(f"Error converting {filename}: {str(e)}")
                finally:
                    print("Conversion process completed.")

In [ ]:
convert_excel_to_csv('/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/01 January/04-01-24/')

In [ ]:
january_4_1 = open_csv('/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/01 January/04-01-24/DataTrans_1.csv')
january_4_1.head()

In [80]:
def add_date_column_to_csvs(base_path):
    
    full_path = os.path.join(base_path, "01 January", "04-01-24")
    
    
    folder_date = datetime.strptime("04-01-24", "%d-%m-%y").date()
    
    
    for filename in os.listdir(full_path):
        if filename.endswith('.csv'):
            file_path = os.path.join(full_path, filename)
            
            
            df = pd.read_csv(file_path, delimiter=';')
            
            
            df['Date'] = folder_date
            
            
            df.to_csv(file_path, index=False, sep=';')
            
            print(f"Added date column to {filename}")

    print("Process completed.")

In [ ]:
base_path = "/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/" 
add_date_column_to_csvs(base_path)

In [ ]:
january_11 = open_csv('/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/01 January/11-01-24/DataTrans_1.csv')
january_11.head()

In [114]:
def remove_unnamed_column_from_folder(input_folder_path, output_folder_path):

    
    os.makedirs(output_folder_path, exist_ok=True)
    
    
    for filename in os.listdir(input_folder_path):
        if filename.endswith('.csv'):
            input_file_path = os.path.join(input_folder_path, filename)
            output_file_path = os.path.join(output_folder_path, filename)
            
            try:
                
                with open(input_file_path, 'r') as file:
                    first_char = file.read(1)
                
                if first_char != ';':
                    print(f"Skipping '{filename}': Does not start with a semicolon")
                    continue
                
                
                df = pd.read_csv(input_file_path, delimiter=';')
                
                
                df_cleaned = df.iloc[:, 1:]
                
                
                df_cleaned.to_csv(output_file_path, index=False, sep=';')
                
                print(f"Successfully cleaned '{filename}' and saved to '{output_file_path}'")
            except Exception as e:
                print(f"An error occurred while processing '{filename}': {e}")

    print("Processing completed.")

In [ ]:
input_folder = "/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/01 January/11-01-24"
output_folder = "/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/01 January/11-01-24"
remove_unnamed_column_from_folder(input_folder, output_folder)

In [ ]:
january_11_v1 = open_csv('/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/01 January/11-01-24/DataTrans_3.csv')
january_11_v1.head()

In [130]:
def add_date_column_to_csvs(base_path):
    # Construct the full path
    full_path = os.path.join(base_path, "01 January", "11-01-24")
    
    # Extract the date from the folder name
    folder_date = datetime.strptime("11-01-24", "%d-%m-%y").date()
    
    # Iterate through all files in the directory
    for filename in os.listdir(full_path):
        if filename.endswith('.csv'):
            file_path = os.path.join(full_path, filename)
            
            # Read the CSV file
            df = pd.read_csv(file_path, delimiter=';')
            
            # Add the new date column
            df['Date'] = folder_date
            
            # Save the modified CSV
            df.to_csv(file_path, index=False, sep=';')
            
            print(f"Added date column to {filename}")

    print("Process completed.")

In [ ]:
base_path = "/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/"
add_date_column_to_csvs(base_path)

In [ ]:
january_11_v2 = open_csv('/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/01 January/11-01-24/DataTrans_3.csv')
january_11_v2.head()

In [ ]:
january_26_v3 = open_csv('/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/01 January/26-01-24/DataTrans_0.csv')
january_26_v3.head()

In [ ]:
convert_excel_to_csv('/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/01 January/26-01-24/')

In [ ]:
january_26_v3 = open_csv('/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/01 January/26-01-24/DataTrans_3.csv')
january_26_v3.head()

In [151]:
def add_date_column_to_csvs(base_path):
    full_path = os.path.join(base_path, "01 January", "26-01-24")
    
    folder_date = datetime.strptime("26-01-24", "%d-%m-%y").date()
    
    for filename in os.listdir(full_path):
        if filename.endswith('.csv'):
            file_path = os.path.join(full_path, filename)
            
            df = pd.read_csv(file_path, delimiter=';')
            
            df['Date'] = folder_date
            
            df.to_csv(file_path, index=False, sep=';')
            
            print(f"Added date column to {filename}")

    print("Process completed.")

In [ ]:
base_path = "/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/"  
add_date_column_to_csvs(base_path)

In [ ]:
january_26_v4 = open_csv('/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/01 January/26-01-24/DataTrans_0.csv')
january_26_v4.head()

In [ ]:
def union_csv_files(base_path):
    all_files = glob.glob(os.path.join(base_path, "**", "*.csv"), recursive=True)
    
    df_list = []
    
    for file in all_files:
        try:
            df = pd.read_csv(file, delimiter=';')

            df['SourceFile'] = os.path.basename(file)
            df['SourceFolder'] = os.path.basename(os.path.dirname(file))
            
            df_list.append(df)
            print(f"Processed: {file}")
        except Exception as e:
            print(f"Error processing {file}: {e}")
    
    if df_list:
        combined_df = pd.concat(df_list, ignore_index=True)
        print(f"Total rows in combined DataFrame: {len(combined_df)}")
        return combined_df
    else:
        print("No CSV files were successfully processed.")
        return None

base_path = "/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/01 January"
result_df = union_csv_files(base_path)

if result_df is not None:
    output_path = os.path.join(base_path, "january_2024.csv")
    result_df.to_csv(output_path, index=False, sep=';')
    print(f"Combined CSV saved to: {output_path}")

In [ ]:
january = open_csv('/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/01 January/january_2024.csv')
january.head()

In [ ]:
january_grouped = january.groupby('Date')['Transaction'].sum()
january_grouped

In [ ]:
def convert_excel_to_csv(root_dir):
    for dirpath, dirnames, filenames in os.walk(root_dir):
        for filename in filenames:
            if filename.endswith('.xlsx'):
                file_path = os.path.join(dirpath, filename)
                try:
                    df = pd.read_excel(file_path)
                    
                    csv_filename = os.path.splitext(filename)[0] + '.csv'
                    csv_path = os.path.join(dirpath, csv_filename)
                    
                    df.to_csv(csv_path, index=False, sep=';')
                    
                    print(f"Converted {filename} to {csv_filename}")
                except Exception as e:
                    print(f"Error converting {filename}: {str(e)}")
                finally:
                    print("Conversion process completed.")

In [ ]:
convert_excel_to_csv('/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/03 March/')

In [168]:
def remove_unnamed_column_from_folder(input_folder_path, output_folder_path):
    os.makedirs(output_folder_path, exist_ok=True)
    
    for filename in os.listdir(input_folder_path):
        if filename.endswith('.csv'):
            input_file_path = os.path.join(input_folder_path, filename)
            output_file_path = os.path.join(output_folder_path, filename)
            
            try:
                with open(input_file_path, 'r') as file:
                    first_line = file.readline().strip()
                
                if not (first_line.startswith(';') or first_line.startswith('Unnamed: 0;')):
                    print(f"Skipping '{filename}': Does not start with ';' or 'Unnamed: 0;'")
                    continue
                
                df = pd.read_csv(input_file_path, delimiter=';')

                df_cleaned = df.iloc[:, 1:]
                
                df_cleaned.to_csv(output_file_path, index=False, sep=';')
                
                print(f"Successfully cleaned '{filename}' and saved to '{output_file_path}'")
            except Exception as e:
                print(f"An error occurred while processing '{filename}': {e}")

    print("Processing completed.")

In [ ]:
input_folder = "/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/03 March/03-03-24"
output_folder = "/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/03 March/03-03-24"
remove_unnamed_column_from_folder(input_folder, output_folder)

In [ ]:
input_folder = "/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/03 March/23-03-24"
output_folder = "/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/03 March/23-03-24"
remove_unnamed_column_from_folder(input_folder, output_folder)

In [196]:
def add_date_column_to_csvs(base_path):
    full_path = os.path.join(base_path, "03 March", "05-03-24")
    
    folder_date = datetime.strptime("05-03-24", "%d-%m-%y").date()
    
    for filename in os.listdir(full_path):
        if filename.endswith('.csv'):
            file_path = os.path.join(full_path, filename)
            
            df = pd.read_csv(file_path, delimiter=';')
            
            df['Date'] = folder_date
            
            df.to_csv(file_path, index=False, sep=';')
            
            print(f"Added date column to {filename}")

    print("Process completed.")

In [ ]:
base_path = "/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/"
add_date_column_to_csvs(base_path)

In [ ]:
def union_csv_files(base_path):
    all_files = glob.glob(os.path.join(base_path, "**", "*.csv"), recursive=True)
    
    df_list = []
    
    for file in all_files:
        try:
            df = pd.read_csv(file, delimiter=';')
            
            df['SourceFile'] = os.path.basename(file)
            df['SourceFolder'] = os.path.basename(os.path.dirname(file))
            
            df_list.append(df)
            print(f"Processed: {file}")
        except Exception as e:
            print(f"Error processing {file}: {e}")
    
    if df_list:
        combined_df = pd.concat(df_list, ignore_index=True)
        print(f"Total rows in combined DataFrame: {len(combined_df)}")
        return combined_df
    else:
        print("No CSV files were successfully processed.")
        return None

base_path = "/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/03 March"
result_df = union_csv_files(base_path)

if result_df is not None:
    output_path = os.path.join(base_path, "march_2024.csv")
    result_df.to_csv(output_path, index=False, sep=';')
    print(f"Combined CSV saved to: {output_path}")

In [ ]:
march = open_csv('/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/03 March/march_2024.csv')
march.head()

# February

In [ ]:
february_path = '/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/02 February/'

## Excel

In [ ]:
convert_excel_to_csv(february_path)

## Unnamed Columns

In [ ]:
remove_unnamed_column_from_folder(february_path, february_path)

## Add Dates

In [ ]:
add_date_column_to_csvs(february_path)

## Union All

In [ ]:
result_df = union_csv_files(february_path)

if result_df is not None:
    output_path = os.path.join(february_path, "february_2024.csv")
    result_df.to_csv(output_path, index=False, sep=';')
    print(f"Combined CSV saved to: {output_path}")

# April

In [ ]:
april_path = '/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/04 April/'

## Excel

In [ ]:
convert_excel_to_csv(april_path)

## Unnamed Columns

In [ ]:
remove_unnamed_column_from_folder(april_path, april_path)

## Add Date

In [ ]:
add_date_column_to_csvs(april_path)

## Union All

In [ ]:
result_df = union_csv_files(april_path)

if result_df is not None:
    output_path = os.path.join(april_path, "april_2024.csv")
    result_df.to_csv(output_path, index=False, sep=';')
    print(f"Combined CSV saved to: {output_path}")

# May

In [ ]:
may_path = '/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/05 May'

## Excel

In [ ]:
convert_excel_to_csv(may_path)

## Unnamed Columns

In [ ]:
remove_unnamed_column_from_folder(may_path, may_path)

## Add Dates

In [ ]:
add_date_column_to_csvs(may_path)

## Union All

In [ ]:
result_df = union_csv_files(may_path)

if result_df is not None:
    output_path = os.path.join(may_path, "may_2024.csv")
    result_df.to_csv(output_path, index=False, sep=';')
    print(f"Combined CSV saved to: {output_path}")

# June

In [79]:
june_path = "/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/06 June"

## Excel

In [ ]:
convert_excel_to_csv(june_path)

## Unnamed Columns

In [ ]:
remove_unnamed_column_from_folder(june_path, june_path)

## Add Dates

In [ ]:
add_date_column_to_csvs(june_path)

## Union All

In [ ]:
result_df = union_csv_files(june_path)

if result_df is not None:
    output_path = os.path.join(base_path, "june_2024.csv")
    result_df.to_csv(output_path, index=False, sep=';')
    print(f"Combined CSV saved to: {output_path}")

# July

In [89]:
july_path = "/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/07 July"

## Excel

In [ ]:
convert_excel_to_csv(july_path)

## Unnamed Columns

In [ ]:
remove_unnamed_column_from_folder(july_path, july_path)

## Add Dates

In [ ]:
add_date_column_to_csvs(july_path)

## Union All

In [ ]:
result_df = union_csv_files(july_path)

if result_df is not None:
    output_path = os.path.join(july_path, "july_2024.csv")
    result_df.to_csv(output_path, index=False, sep=';')
    print(f"Combined CSV saved to: {output_path}")

# August

In [94]:
august_path = "/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/08 August"

## Excel

In [ ]:
convert_excel_to_csv(august_path)

## Unnamed Columns

In [ ]:
remove_unnamed_column_from_folder(august_path, august_path)

## Add Dates

In [ ]:
add_date_column_to_csvs(august_path)

## Union All

In [ ]:
result_df = union_csv_files(august_path)

if result_df is not None:
    output_path = os.path.join(august_path, "august_2024.csv")
    result_df.to_csv(output_path, index=False, sep=';')
    print(f"Combined CSV saved to: {output_path}")

In [ ]:
august = open_csv(f"{august_path}/august_2024.csv")
august.head()

# September

In [101]:
september_path = "/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/09 September"

## Excel

In [ ]:
convert_excel_to_csv(september_path)

## Unnamed Columns

In [ ]:
remove_unnamed_column_from_folder(september_path, september_path)

## Add Dates

In [ ]:
add_date_column_to_csvs(september_path)

## Union All

In [ ]:
result_df = union_csv_files(september_path)

if result_df is not None:
    output_path = os.path.join(september_path, "september_2024.csv")
    result_df.to_csv(output_path, index=False, sep=';')
    print(f"Combined CSV saved to: {output_path}")

# October

In [106]:
october_path = "/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/10 October"

## Excel

In [ ]:
convert_excel_to_csv(october_path)

## Unnamed Columns

In [ ]:
remove_unnamed_column_from_folder(october_path, october_path)

## Add Dates

In [ ]:
add_date_column_to_csvs(october_path)

## Union All

In [ ]:
result_df = union_csv_files(october_path)

if result_df is not None:
    output_path = os.path.join(october_path, "october_2024.csv")
    result_df.to_csv(output_path, index=False, sep=';')
    print(f"Combined CSV saved to: {output_path}")

# November

In [111]:
november_path = "/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/11 November"

## Excel

In [ ]:
convert_excel_to_csv(november_path)

## Unnamed Columns

In [ ]:
remove_unnamed_column_from_folder(november_path, november_path)

## Add Dates

In [ ]:
add_date_column_to_csvs(november_path)

## Union All

In [ ]:
result_df = union_csv_files(november_path)

if result_df is not None:
    output_path = os.path.join(november_path, "november_2024.csv")
    result_df.to_csv(output_path, index=False, sep=';')
    print(f"Combined CSV saved to: {output_path}")

# December

In [118]:
december_path = "/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/12 December"

## Excel

In [ ]:
convert_excel_to_csv(december_path)

## Unnamed Columns

In [ ]:
remove_unnamed_column_from_folder(december_path, december_path)

## Add Dates

In [ ]:
add_date_column_to_csvs(december_path)

## Union All

In [ ]:
result_df = union_csv_files(december_path)

if result_df is not None:
    output_path = os.path.join(december_path, "december_2024.csv")
    result_df.to_csv(output_path, index=False, sep=';')
    print(f"Combined CSV saved to: {output_path}")

# Total

In [136]:
total_path = "/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/Total"

In [ ]:
result_df = union_csv_files(total_path)

if result_df is not None:
    output_path = os.path.join(total_path, "2024.csv")
    result_df.to_csv(output_path, index=False, sep=';')
    print(f"Combined CSV saved to: {output_path}")

In [140]:
total_df = open_csv("/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/Total/2024.csv")

# Merged

In [ ]:
rates = pd.read_csv('/Users/jesusadraz/Documents/marsh/src/data/Transactions/2023-Budget-FX-Rates.csv')
total = pd.read_csv('/Users/jesusadraz/Documents/marsh/src/data/Transactions/Transacciones/2024/Total/2024.csv', delimiter=';')

In [ ]:
total['Transaction'] = total['Transaction'].round(2)

In [ ]:
merged_df = pd.merge(total, rates, how='left', left_on='Currency', right_on='CURR CODE')

In [ ]:
merged_df['USD'] = (merged_df['Transaction'] / merged_df['BUDGET RATE']).round(2)

# Convert USD in Million

In [16]:
df = pd.read_csv('/Users/jesusadraz/Documents/marsh/src/data/Transactions/2024.csv')

In [17]:
df.head()

,Client,Country,Currency,Transaction,Date,SourceFile,SourceFolder,COUNTRY,CURRENCY,CURR CODE,BUDGET RATE,USD
0,MXY11,"KOREA, REPUBLIC OF",MOP,345127.88,2024-01-11,01_january_2024.csv,Total,MACAU,PATACA,MOP,0.124414,2.774034e+06
1,MXY11,SYRIAN ARAB REPUBLIC,NOK,7125.69,2024-01-11,01_january_2024.csv,Total,NORWAY,KRONE,NOK,0.097425,7.314022e+04
2,MXY11,EURO,BOB,245047.88,2024-01-11,01_january_2024.csv,Total,BOLIVIA,BOLIVIANO,BOB,0.144682,1.693697e+06
3,MXY11,DOMINICAN REPUBLIC,LKR,9968657.26,2024-01-11,01_january_2024.csv,Total,SRI LANKA,RUPEE,LKR,0.002721,3.663776e+09
4,MXY11,GHANA,PEN,147738.85,2024-01-11,01_january_2024.csv,Total,PERU,NEW SOL,PEN,0.250000,5.909554e+05

In [18]:
def to_millions_usd(value):
    return value / 1e6

In [19]:
df['USD_M'] = df['USD'].apply(to_millions_usd)

In [20]:
df.head()

,Client,Country,Currency,Transaction,Date,SourceFile,SourceFolder,COUNTRY,CURRENCY,CURR CODE,BUDGET RATE,USD,USD_M
0,MXY11,"KOREA, REPUBLIC OF",MOP,345127.88,2024-01-11,01_january_2024.csv,Total,MACAU,PATACA,MOP,0.124414,2.774034e+06,2.774034
1,MXY11,SYRIAN ARAB REPUBLIC,NOK,7125.69,2024-01-11,01_january_2024.csv,Total,NORWAY,KRONE,NOK,0.097425,7.314022e+04,0.073140
2,MXY11,EURO,BOB,245047.88,2024-01-11,01_january_2024.csv,Total,BOLIVIA,BOLIVIANO,BOB,0.144682,1.693697e+06,1.693697
3,MXY11,DOMINICAN REPUBLIC,LKR,9968657.26,2024-01-11,01_january_2024.csv,Total,SRI LANKA,RUPEE,LKR,0.002721,3.663776e+09,3663.775653
4,MXY11,GHANA,PEN,147738.85,2024-01-11,01_january_2024.csv,Total,PERU,NEW SOL,PEN,0.250000,5.909554e+05,0.590955

In [24]:
df['USD_M'] = df['USD_M'].round(2)

In [25]:
df.head()

,Client,Country,Currency,Transaction,Date,SourceFile,SourceFolder,COUNTRY,CURRENCY,CURR CODE,BUDGET RATE,USD,USD_M
0,MXY11,"KOREA, REPUBLIC OF",MOP,345127.88,2024-01-11,01_january_2024.csv,Total,MACAU,PATACA,MOP,0.124414,2.774034e+06,2.77
1,MXY11,SYRIAN ARAB REPUBLIC,NOK,7125.69,2024-01-11,01_january_2024.csv,Total,NORWAY,KRONE,NOK,0.097425,7.314022e+04,0.07
2,MXY11,EURO,BOB,245047.88,2024-01-11,01_january_2024.csv,Total,BOLIVIA,BOLIVIANO,BOB,0.144682,1.693697e+06,1.69
3,MXY11,DOMINICAN REPUBLIC,LKR,9968657.26,2024-01-11,01_january_2024.csv,Total,SRI LANKA,RUPEE,LKR,0.002721,3.663776e+09,3663.78
4,MXY11,GHANA,PEN,147738.85,2024-01-11,01_january_2024.csv,Total,PERU,NEW SOL,PEN,0.250000,5.909554e+05,0.59

In [26]:
df.to_csv('/Users/jesusadraz/Documents/marsh/src/data/Transactions/2024_2.csv', index=False)

In [27]:
df_1 = pd.read_csv('/Users/jesusadraz/Documents/marsh/src/data/Transactions/2024_2.csv')

In [28]:
df_1.head()

,Client,Country,Currency,Transaction,Date,SourceFile,SourceFolder,COUNTRY,CURRENCY,CURR CODE,BUDGET RATE,USD,USD_M
0,MXY11,"KOREA, REPUBLIC OF",MOP,345127.88,2024-01-11,01_january_2024.csv,Total,MACAU,PATACA,MOP,0.124414,2.774034e+06,2.77
1,MXY11,SYRIAN ARAB REPUBLIC,NOK,7125.69,2024-01-11,01_january_2024.csv,Total,NORWAY,KRONE,NOK,0.097425,7.314022e+04,0.07
2,MXY11,EURO,BOB,245047.88,2024-01-11,01_january_2024.csv,Total,BOLIVIA,BOLIVIANO,BOB,0.144682,1.693697e+06,1.69
3,MXY11,DOMINICAN REPUBLIC,LKR,9968657.26,2024-01-11,01_january_2024.csv,Total,SRI LANKA,RUPEE,LKR,0.002721,3.663776e+09,3663.78
4,MXY11,GHANA,PEN,147738.85,2024-01-11,01_january_2024.csv,Total,PERU,NEW SOL,PEN,0.250000,5.909554e+05,0.59

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/jesusadraz/Documents/marsh/src/data/Transactions/world-countries.csv")

In [3]:
df.head()

       Country Currency  Region
0  Afghanistan      AFN    Asia
1      Albania      ALL  Europe
2      Algeria      DZD  Africa
3      Andorra      EUR  Europe
4       Angola      AOA  Africa

In [4]:
df_2 = pd.read_csv("/Users/jesusadraz/Documents/marsh/src/data/Transactions/2024_2.csv")

In [30]:
df_4 = pd.read_csv("/Users/jesusadraz/Documents/marsh/src/data/Transactions/countries.csv")

In [31]:
df_4.head()

                Country         Region
0    KOREA, REPUBLIC OF           Asia
1  SYRIAN ARAB REPUBLIC         Africa
2                  EURO         Europe
3    DOMINICAN REPUBLIC  North America
4                 GHANA         Africa

In [32]:
merged = pd.merge(df_2, df_4, how='left', left_on='Country', right_on='Country')

In [33]:
merged.head()

,Client,Country,Currency,Transaction,Date,SourceFile,SourceFolder,Country_2,Currency_2,Curr_Code,Budget_Rate,USD,USD_M,Region
0,MXY11,"KOREA, REPUBLIC OF",MOP,345127.88,2024-01-11,01_january_2024.csv,Total,MACAU,PATACA,MOP,0.124414,2.774034e+06,2.77,Asia
1,MXY11,SYRIAN ARAB REPUBLIC,NOK,7125.69,2024-01-11,01_january_2024.csv,Total,NORWAY,KRONE,NOK,0.097425,7.314022e+04,0.07,Africa
2,MXY11,EURO,BOB,245047.88,2024-01-11,01_january_2024.csv,Total,BOLIVIA,BOLIVIANO,BOB,0.144682,1.693697e+06,1.69,Europe
3,MXY11,DOMINICAN REPUBLIC,LKR,9968657.26,2024-01-11,01_january_2024.csv,Total,SRI LANKA,RUPEE,LKR,0.002721,3.663776e+09,3663.78,North America
4,MXY11,GHANA,PEN,147738.85,2024-01-11,01_january_2024.csv,Total,PERU,NEW SOL,PEN,0.250000,5.909554e+05,0.59,Africa

In [34]:
merged.to_csv("/Users/jesusadraz/Documents/marsh/src/data/Transactions/2024_2.csv", index=False)